@model task1_asp.Models.MealsViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burgers</title>
</head>

<body>
    <h1>Burgers</h1>
    <ul>
        @foreach (var meal in Model.Burgers)
        {
            <h3>ID : @meal.Id</h3>
            <h3>Name : @meal.Name</h3>
            <h3>Price : @meal.Price</h3>
            <hr/>
        }
    </ul>
</body>

</html>